<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appoperaciones">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="App Operacion"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppOperaciones"
        android:usesCleartextTraffic="true">
        <activity android:name=".EncuestaTiendaActivity"  android:label="Encuesta" ></activity>
        <activity
            android:name=".GraficaPlatActivity"
            android:label="Grafica | Plataformas" />
        <activity
            android:name=".GraficaPromActivity"
            android:label="Grafica | Promociones" />
        <activity
            android:name=".EstadisticaPromActivity"
            android:label="Promociones" />
        <activity
            android:name=".EstadoPedidoActivity"
            android:label="Estado de pedidos" />
        <activity
            android:name=".ReportesOperacionActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppOperaciones.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>